/* brandico */
[class*="brandico-"]:before {
    font-family: 'brandico', sans-serif;
}

/* entypo */
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}

/* fontelico */
[class*="fontelico-"]:before {
    font-family: 'fontelico', sans-serif;
}

/* iconicfill */
[class*="iconicfill-"]:before {
    font-family: 'IconicFill', sans-serif;
}

/* iconicstroke */
[class*="iconicstroke-"]:before {
    font-family: 'IconicStroke', sans-serif;
}

/* maki */
[class*="maki-"]:before {
    font-family: 'maki', sans-serif;
}

/* openwebicons */
[class*="openwebicons-"]:before {
    font-family: 'OpenWeb Icons', sans-serif;
}

/* typicons */
[class*="typicons-"]:before {
    font-family: 'Typicons', sans-serif;
}

/* zocial */
[class*="zocial-"]:before {
    font-family: 'zocial', sans-serif;
}


.select2-selection__rendered{
    height: 38px;
}
.select2-selection__choice{
    display: inline-block;
    padding: 0.25em 0.8em !important;
    font-size: 75% !important;
    font-weight: 700;
    line-height: 2;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.5rem !important;
    margin-top: 6px !important;
    color: #fff;
    /*background-color: #6610f2 !important;*/
    background-color: #6E69E4 !important;
}
.select2-search__field{
    margin-top: 8px !important;
}
.select2-selection__choice__remove{
    color: #FFFFFF !important;
}
.select2-results__option[aria-selected="true"] {
    background-color: #0c1628 !important;
    color: grey;
}